<div class="sideNavAccordian">
    <button class="accordion">More</button>
    <div class="panel">
        <a href="#" class="accordianLink">Paintings And Decor</a>
        <a href="#" class="accordianLink">Silver Items</a>
        <a href="#" class="accordianLink">Bags And Potli</a>
        <a href="#" class="accordianLink">Bracelet</a>
        <a href="#" class="accordianLink">Kavach</a>
        <a href="#" class="accordianLink">Pyramids</a>
        <a href="#" class="accordianLink">Healing Pencil</a>
    </div>

    <button class="accordion">Malas and Beads</button>
    <div class="panel">
        <a href="#" class="accordianLink">Bahumukhi Rudraksha</a>
        <a href="#" class="accordianLink">Rudraksha Mala</a>
        <a href="#" class="accordianLink">Tulsi Mala</a>
        <a href="#" class="accordianLink">Red Sandalwood Mala</a>
        <a href="#" class="accordianLink">Gauri Shankar Rudraksha</a>
        <a href="#" class="accordianLink">Ebony Mala</a>
        <a href="#" class="accordianLink">Pearl Moti Mala</a>
    </div>


    <button class="accordion">Puja Items</button>

    <div class="panel">
        <a href="#" class="accordianLink">SKVT Bhabhut</a>
        <a href="#" class="accordianLink">Smriti Chinha</a>
        <a href="#" class="accordianLink">Yantram</a>
        <a href="#" class="accordianLink">Shankh</a>
        <a href="#" class="accordianLink">Sphatik</a>
        <a href="#" class="accordianLink">Sun Stone</a>
    </div>

    <button class="accordion">SKVT Special</button>

    <div class="panel">
        <a href="#" class="accordianLink">SKVT</a>
        <a href="#" class="accordianLink">Attar and Fragrances</a>
        <a href="#" class="accordianLink">Vastram</a>
        <a href="#" class="accordianLink">Sphatik</a>
        <a href="#" class="accordianLink">Wood Items</a>
    </div>


</div>


