<div class="souvenir-category-cont">

    <h2 class="heading">Souvenir Categories</h2>
    <div class="category-souvenir">

        <div class="category-cont">
            <div class="category-imageCont">
                <img src="https://sa.adanione.com/-/media/Project/Campaigns/Valentine-s-Day/Duty-Free/material-group-icons/TravelExclusivev2.jpg"
                    alt="Shri Kashi Prasadam" class="category-image" />
            </div>
            <p class="category-title">Malas and Beads</p>
        </div>
        <div class="category-cont">
            <div class="category-imageCont">
                <img src="https://sa.adanione.com/-/media/Project/Campaigns/Valentine-s-Day/Duty-Free/material-group-icons/TravelExclusivev2.jpg"
                    alt="Shri Kashi Prasadam" class="category-image" />
            </div>
            <p class="category-title">Malas and Beads</p>
        </div>
        <div class="category-cont">
            <div class="category-imageCont">
                <img src="https://sa.adanione.com/-/media/Project/Campaigns/Valentine-s-Day/Duty-Free/material-group-icons/TravelExclusivev2.jpg"
                    alt="Shri Kashi Prasadam" class="category-image" />
            </div>
            <p class="category-title">Malas and Beads</p>
        </div>
        <div class="category-cont">
            <div class="category-imageCont">
                <img src="https://sa.adanione.com/-/media/Project/Campaigns/Valentine-s-Day/Duty-Free/material-group-icons/TravelExclusivev2.jpg"
                    alt="Shri Kashi Prasadam" class="category-image" />
            </div>
            <p class="category-title">Malas and Beads</p>
        </div>
        <div class="category-cont">
            <div class="category-imageCont">
                <img src="https://sa.adanione.com/-/media/Project/Campaigns/Valentine-s-Day/Duty-Free/material-group-icons/TravelExclusivev2.jpg"
                    alt="Shri Kashi Prasadam" class="category-image" />
            </div>
            <p class="category-title">Malas and Beads</p>
        </div>
        <div class="category-cont">
            <div class="category-imageCont">
                <img src="https://sa.adanione.com/-/media/Project/Campaigns/Valentine-s-Day/Duty-Free/material-group-icons/TravelExclusivev2.jpg"
                    alt="Shri Kashi Prasadam" class="category-image" />
            </div>
            <p class="category-title">Malas and Beads</p>
        </div>
        <div class="category-cont">
            <div class="category-imageCont">
                <img src="https://sa.adanione.com/-/media/Project/Campaigns/Valentine-s-Day/Duty-Free/material-group-icons/TravelExclusivev2.jpg"
                    alt="Shri Kashi Prasadam" class="category-image" />
            </div>
            <p class="category-title">Malas and Beads</p>
        </div>
        <div class="category-cont">
            <div class="category-imageCont">
                <img src="https://sa.adanione.com/-/media/Project/Campaigns/Valentine-s-Day/Duty-Free/material-group-icons/TravelExclusivev2.jpg"
                    alt="Shri Kashi Prasadam" class="category-image" />
            </div>
            <p class="category-title">Malas and Beads</p>
        </div>
        <div class="category-cont">
            <div class="category-imageCont">
                <img src="https://sa.adanione.com/-/media/Project/Campaigns/Valentine-s-Day/Duty-Free/material-group-icons/TravelExclusivev2.jpg"
                    alt="Shri Kashi Prasadam" class="category-image" />
            </div>
            <p class="category-title">Malas and Beads</p>
        </div>
        <div class="category-cont">
            <div class="category-imageCont">
                <img src="https://sa.adanione.com/-/media/Project/Campaigns/Valentine-s-Day/Duty-Free/material-group-icons/TravelExclusivev2.jpg"
                    alt="Shri Kashi Prasadam" class="category-image" />
            </div>
            <p class="category-title">Malas and Beads</p>
        </div>
        <div class="category-cont">
            <div class="category-imageCont">
                <img src="https://sa.adanione.com/-/media/Project/Campaigns/Valentine-s-Day/Duty-Free/material-group-icons/TravelExclusivev2.jpg"
                    alt="Shri Kashi Prasadam" class="category-image" />
            </div>
            <p class="category-title">Malas and Beads</p>
        </div>
        <div class="category-cont">
            <div class="category-imageCont">
                <img src="https://sa.adanione.com/-/media/Project/Campaigns/Valentine-s-Day/Duty-Free/material-group-icons/TravelExclusivev2.jpg"
                    alt="Shri Kashi Prasadam" class="category-image" />
            </div>
            <p class="category-title">Malas and Beads</p>
        </div>
        
    </div>
</div>