<div class="product-overview poppins">

  <div class="productImagesDiv">
    <div class="pro-main-image">
      <img src="../../assests/pro-image-1.jpg" alt="Rudrakash mala beads" />
    </div>

    <div class="product-images-gallery">
      <img src="../../assests/pro-image-1.jpg" alt="Thumbnail 1" class="product-more-image" />
      <img src="../../assests/pro-image-1.jpg" alt="Thumbnail 2" class="product-more-image" />
    </div>
  </div>

  <div class="product-detail-container">
    <div class="product-title-cont">
      <h4 class="product-name">Sandalwood mala 8 MM</h4>
      <a class="product-share-button">Share <img class="product-share-button-image" src="../../assests/shareIcon.png"
          alt="Share" /></a>
    </div>

    <div class="product-price-cont">
      <p class="product-price">&#8377; 800</p>
      <p class="cut-through-price">&#8377; 1200</p>
    </div>

    <div class="some-product-details">
      <p>Brands: <span>SVKT</span>
      </p>
      <p>Product Code: <span>SDFRB_24</span></p>
      <p>Availability: <span>In-Stock</span></p>
      <p>Short Description: <span>
          The ruling god is Lord Kalagni Rudra and the ruling planet is Jupiter. Removes negative effects of planet
          Jupiter (Brihaspati) from bearer’s life.</span>
      </p>
    </div>

    <div class="product-interactions">
      <div class="product-interactions-left">
        <form class="pincode-cont">
          <label for="pincode" class="">Delivery:</label>
          <input class="pro-checkpincode" id="pincode" type="search" placeholder="Enter Your Pincode"
            aria-label="Search" />
          <button class="pincode-check" type="submit">Check</button>
        </form>
        <p style="color: #6c757d!important;">Usually delivered in 8-10 days</p>

        <div class="pro-quant-cont">


          <p class="pro-quant-text">Quantity:</p>
          <button class="quant-btn">
            <img src="../../assests/minus.svg" alt="Minus" />
          </button>
          <p class="pro-quant-text normal">1</p>
          <button class="quant-btn">
            <img src="../../assests/plus.svg" alt="Minus" />
          </button>
          <button class="pro-buy-now">Buy Now</button>
        </div>

        <div class="pro-button-container">
          <button style="background-color: #FFB400;" class="product-button">
            <img src="../../assests/heartIcon.svg" alt="Add to Wishlist" /> <p class="pro-btn-text">Add to Wishlist</p>
          </button>
          <button class="product-button" style="background-color: #13B23F;">
            <img src="../../assests/cartIcon.svg" alt="Add to Cart" /> <p class="pro-btn-text">Add to Cart</p>
          </button>
        </div>
      </div>

      <div class="product-interactions-right">
         <div class="pro-features-cont">
          <img src="../../assests/securePayment.png" alt="Card" />
          <p class="">Secure Payments</p>
         </div>
         <div class="pro-features-cont">
          <img src="../../assests/flag.png" alt="Flag" />
          <p class=""> Proudly Made in India</p>
         </div>
         <div class="pro-features-cont">
          <img src="../../assests/kamal.png" alt="Flower" />
          <p class=""> Holistic Well-being</p>
         </div>


        
        
      </div>
    </div>
  </div>
</div>


<div class="products-container">
  <h2 class="heading">Deals of the Day</h2>

  <div class="products-item-container">
    <div class="product-item-cont">
      <!-- <img
          src="https://shrikashiprasadam.com/thumbnail.php?src=https://shrikashiprasadam.com/upload/products_images/606/606_laxmiji_Photoroom3_17052024121309.jpg&w=600&h=600"
          alt="Gaj laxmi ji brass idol"
          class="product-image"
        /> -->

      <div class="product-image-cont">
        <img class="product-add-to-cart" src="../../assests/cartIcon.png" alt="Add to Favourite" />
      </div>

      <div class="product-detail-cont">
        <div class="product-detail-upper">
          <p class="product-title poppins">Gaj laxmi ji brass idol</p>
          <img class="product-add-to-fav" src="../../assests/blackHeartIcon.svg" alt="Add to Favourite" />
        </div>
        <div class="product-detail-lower">
          <p class="product-price">₹1,999</p>
        </div>
      </div>
    </div>

    <div class="product-item-cont">
      <!-- <img
          src="https://shrikashiprasadam.com/thumbnail.php?src=https://shrikashiprasadam.com/upload/products_images/606/606_laxmiji_Photoroom3_17052024121309.jpg&w=600&h=600"
          alt="Gaj laxmi ji brass idol"
          class="product-image"
        /> -->

      <div class="product-image-cont">
        <img class="product-add-to-cart" src="../../assests/cartIcon.png" alt="Add to Favourite" />
      </div>

      <div class="product-detail-cont">
        <div class="product-detail-upper">
          <p class="product-title poppins">Gaj laxmi ji brass idol</p>
          <img class="product-add-to-fav" src="../../assests/blackHeartIcon.svg" alt="Add to Favourite" />
        </div>
        <div class="product-detail-lower">
          <p class="product-price">₹1,999</p>
        </div>
      </div>
    </div>

    <div class="product-item-cont">
      <!-- <img
          src="https://shrikashiprasadam.com/thumbnail.php?src=https://shrikashiprasadam.com/upload/products_images/606/606_laxmiji_Photoroom3_17052024121309.jpg&w=600&h=600"
          alt="Gaj laxmi ji brass idol"
          class="product-image"
        /> -->

      <div class="product-image-cont">
        <img class="product-add-to-cart" src="../../assests/cartIcon.png" alt="Add to Favourite" />
      </div>

      <div class="product-detail-cont">
        <div class="product-detail-upper">
          <p class="product-title poppins">Gaj laxmi ji brass idol</p>
          <img class="product-add-to-fav" src="../../assests/blackHeartIcon.svg" alt="Add to Favourite" />
        </div>
        <div class="product-detail-lower">
          <p class="product-price">₹1,999</p>
        </div>
      </div>
    </div>

    <div class="product-item-cont">
      <!-- <img
          src="https://shrikashiprasadam.com/thumbnail.php?src=https://shrikashiprasadam.com/upload/products_images/606/606_laxmiji_Photoroom3_17052024121309.jpg&w=600&h=600"
          alt="Gaj laxmi ji brass idol"
          class="product-image"
        /> -->

      <div class="product-image-cont">
        <img class="product-add-to-cart" src="../../assests/cartIcon.png" alt="Add to Favourite" />
      </div>

      <div class="product-detail-cont">
        <div class="product-detail-upper">
          <p class="product-title poppins">Gaj laxmi ji brass idol</p>
          <img class="product-add-to-fav" src="../../assests/blackHeartIcon.svg" alt="Add to Favourite" />
        </div>
        <div class="product-detail-lower">
          <p class="product-price">₹1,999</p>
        </div>
      </div>
    </div>

    <div class="product-item-cont">
      <!-- <img
          src="https://shrikashiprasadam.com/thumbnail.php?src=https://shrikashiprasadam.com/upload/products_images/606/606_laxmiji_Photoroom3_17052024121309.jpg&w=600&h=600"
          alt="Gaj laxmi ji brass idol"
          class="product-image"
        /> -->

      <div class="product-image-cont">
        <img class="product-add-to-cart" src="../../assests/cartIcon.png" alt="Add to Favourite" />
      </div>

      <div class="product-detail-cont">
        <div class="product-detail-upper">
          <p class="product-title poppins">Gaj laxmi ji brass idol</p>
          <img class="product-add-to-fav" src="../../assests/blackHeartIcon.svg" alt="Add to Favourite" />
        </div>
        <div class="product-detail-lower">
          <p class="product-price">₹1,999</p>
        </div>
      </div>
    </div>
  </div>
</div>