<footer class="footer">
    <div class="footerContainer">
        <div class="footerColumn">
            <h4>Categories</h4>
            <ul>
                <li class="items">
                    <a href="/adani-one-pay">Mala & Beads</a>
                </li>
                <li class="items">
                    <a href="/scan-and-pay">Scan & Pay</a>
                </li>
                <li class="items">
                    <a href="/icici-credit-cards">Adani One ICICI Bank Credit Cards</a>
                </li>
                <li class="items">
                    <a href="/offers-discount">Offer & Discount</a>
                </li>
                <li class="items">
                    <a href="/bill-payments">Bill Payments</a>
                </li>
                <li class="items">
                    <a href="/blogs">Blogs</a>
                </li>
                <li class="items">
                    <a href="/video-gallery">Video Gallery</a>
                </li>
                <li class="items">
                    <a href="/domestic-flights">Domestic Flights</a>
                </li>
                <li class="items">
                    <a href="/international-flights">International Flights</a>
                </li>
                <li class="items">
                    <a href="/international-airlines">International Airlines</a>
                </li>
                <li class="items">
                    <a href="/travel-insurance">Travel Insurance</a>
                </li>
                <li class="items">
                    <a href="/long-weekend-calendar">Long Weekend Calendar</a>
                </li>
            </ul>
        </div>
        <div class="footerColumn">
            <h4>Services</h4>
            <ul>
                <li class="items">
                    <a href="/flight-booking">Flight Booking</a>
                </li>
                <li class="items">
                    <a href="/hotels">Hotels</a>
                </li>
                <li class="items">
                    <a href="/trains">Trains</a>
                </li>
                <li class="items">
                    <a href="/bus">Bus</a>
                </li>
                <li class="items">
                    <a href="/cab-booking">Cab Booking</a>
                </li>
                <li class="items">
                    <a href="/holidays">Holidays</a>
                </li>
                <li class="items">
                    <a href="/duty-free">Duty Free</a>
                </li>
                <li class="items">
                    <a href="/food-beverages">Food & Beverages</a>
                </li>
                <li class="items">
                    <a href="/pranaam-service">Pranaam Service</a>
                </li>
                <li class="items">
                    <a href="/parking">Parking</a>
                </li>
                <li class="items">
                    <a href="/porter">Porter</a>
                </li>
                <li class="items">
                    <a href="/lounge">Lounge</a>
                </li>
                <li class="items">
                    <a href="/lost-and-found">Lost & Found</a>
                </li>
                <li class="items">
                    <a href="/all-services">All Services</a>
                </li>
            </ul>
        </div>
        <div class="footerColumn">
            <h4>Airport Businesses</h4>
            <ul>
                <li class="items">
                    <a href="/ground-transportation">Ground Transportation</a>
                </li>
                <li class="items">
                    <a href="/duty-free">Duty Free</a>
                </li>
                <li class="items">
                    <a href="/cargo">Cargo</a>
                </li>
                <li class="items">
                    <a href="/fuel-farm">Fuel Farm</a>
                </li>
            </ul>
            <h4>Adani Businesses</h4>
            <ul>
                <li class="items">
                    <a href="/airports">Airports</a>
                </li>
                <li class="items">
                    <a href="/adani-total-gas">Adani Total Gas</a>
                </li>
                <li class="items">
                    <a href="/adani-electricity">Adani Electricity</a>
                </li>
                <li class="items">
                    <a href="/adani-wilmar">Adani Wilmar</a>
                </li>
                <li class="items">
                    <a href="/adani-realty">Adani Realty</a>
                </li>
                <li class="items">
                    <a href="/adani-capital">Adani Capital</a>
                </li>
                <li class="items">
                    <a href="/adani-housing-finance">Adani Housing Finance</a>
                </li>
            </ul>
        </div>
        <div class="footerColumn">
            <h4>Help And Support</h4>
            <ul>
                <li class="items">
                    <a href="/contact-us">Contact Us</a>
                </li>
                <li class="items">
                    <a href="/feedback">Feedback</a>
                </li>
                <li class="items">
                    <a href="/track-refund-status">Track Refund Status</a>
                </li>
                <li class="items">
                    <a href="/faqs">FAQs</a>
                </li>
                <li class="items">
                    <a href="/adani-one">AdaniOne</a>
                </li>
            </ul>
            <h4>Company</h4>
            <ul>
                <li class="items">
                    <a href="/about-us">About Us</a>
                </li>
            </ul>
        </div>
        <div class="footerColumn">
            <h4>Scan to Download App</h4>
            <img src='../../assests/qrcode.png' alt="QR Code" class="qrCode" />
            <div class="appLinks">
                <!-- App download images can be added here -->
            </div>
            <h4>Our Awards</h4>
            <ul class="awardsList">
                <li class="items">Case Study Presentation Award, 2024</li>
                <li class="items">Greentech Award, 2024</li>
                <li class="items">DG+ Award, 2023</li>
            </ul>
        </div>
    </div>
    <div class="footerBottom">
        <p>
            ©2024 3i Consulting Pvt. Ltd. • <a href="/privacy-policy">Privacy Policy</a> • <a href="/terms-conditions">Terms & Conditions</a>
        </p>
        <div class="socialLinks">
            <a class="socialIcons" href="https://www.facebook.com/">
                <FaFacebookF />
            </a>
            <a class="socialIcons" href="https://www.facebook.com/">
                <FaInstagram />
            </a>
            <a class="socialIcons" href="https://www.facebook.com/">
                <FaWhatsapp />
            </a>
            <a class="socialIcons" href="https://www.facebook.com/">
                <FaXTwitter />
            </a>
        </div>
    </div>
</footer>