<!-- SideNav -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="sd-nav">
        <div class="sidelogocont">
            <img src="../../assests/logo.png" alt="Shri Kashi Prasadam" class="sideNavLogo" />
        </div>
        <div class="sideNavLinks">
            <p><a href="#home" id="hometxt">Home</a></p>
            <p><a href="#about" id="hometxt">About us</a></p>
            <p><a href="#batches" id="hometxt">Our Batches</a></p>
            <p><a href="#results" id="hometxt">Our Results</a></p>
            <p><a href="#contacts" id="hometxt">Contact Us</a></p>
        </div>
    </div>
</div>